h1 {

    font-size: 2em;
}

h2 {

    font-size: 1.6875rem;
}

.learn-section {

    padding: 80px 0 50px;
}

#hero {

    h1 {

        max-width: 800px;
        margin: 0 auto;
        padding-top: 30px;
    }

    h6 {

        max-width: none;
    }
}

#analytics, #reliable {

    h2 {

        padding-top: 160px;
    }
}

#schmooze {

    h2 {

        padding: 100px 0 20px;
    }
}

#trial {

    padding: 70px 0 20px;

    h4 {

        max-width: 760px;
        margin: 0 auto;
    }
}

#process {

    padding: 30px 0 20px;

    p {

        max-width: 400px;
        margin: 0 auto;
        padding-bottom: 60px;
    }
}

#footer {

    ul {

        padding-top: 55px;
    }
}