h1 {

    font-size: 2em;
}

h2 {

    font-size: 1.6875rem;
}

p {

    line-height: 2em;
}

.learn-section {

    padding: 80px 0 50px;
}

#hero {

    h1 {

        max-width: 800px;
        margin: 0 auto;
        padding-top: 30px;
    }

    h6 {

        max-width: none;
    }
}

#analytics, #reliable {

    h2 {

        padding-top: 160px;
    }
}

#schmooze {

    h2 {

        padding: 100px 0 20px;
    }
}

#trial {

    padding: 70px 0 20px;

    h4 {

        max-width: 760px;
        margin: 0 auto;
    }
}

#process {

    padding: 30px 0 20px;

    p {

        max-width: 400px;
        margin: 0 auto;
        padding-bottom: 60px;
    }
}


/* ---------------------------------------- */
/* --- HARDWARE / SOFTWARE INTEGRATIONS --- */
/* ---------------------------------------- */

#story-1, #story-2, #story-3 {

    h3 {

        line-height: 1.7em;
        text-align: left;
    }
}

#hardware-support, #software-support {

    margin-bottom: 80px;
}

#hardware-hero, #software-hero {

    padding-top: 200px;

    h4 {
        padding-bottom: 200px;
    }
}

#hardware-intro, #software-intro {

    padding: 200px 0;
    background: url('../../img/shared/gradient_bg_1.png') no-repeat center;

    h3 {

        max-width: 650px;
        margin: 0 auto;
    }
}

/* ----------------------------- */
/* --- HARDWARE INTEGRATIONS --- */
/* ----------------------------- */

#story-1 {

    padding: 100px 0 160px;

    h3 {

        padding-top: 80px;
        max-width: 310px;
    }

    #story-1-phone-icon {

        position: absolute;
        top: 300px;
        left: -30px;
    }
}

#story-2 {

    background-color: $light-gray;
    padding: 40px 0 20px;

    h3 {

        padding-top: 80px;
        width: 270px;
    }

    #walking-icon-2 {

        position: absolute;
        bottom: -300px;
        right: 100px;
    }
}

#story-3 {

    h3 {

        padding-top: 300px;
    }

    img {

        padding-top: 80px;
    }
}

#all-in-one {

    background-color: $light-gray;
    padding: 80px 0;

    h2 {

        width: 200px;
        padding-bottom: 0;
    }
}



#hardware-trial {

    button {

        margin-bottom: 0;
    }

    h4 {

        line-height: 2em;
    }
}

#hardware-support {

    h3 {
        padding: 60px 0;
    }

    .border-top {

        border-top: 1px solid $dark-gray;
    }
}


/* ----------------------------- */
/* --- SOFTWARE INTEGRATIONS --- */
/* ----------------------------- */

#software-integrations {

    #story-1 {

        h3 {

            padding-top: 285px;
            max-width: 500px;
        }

        #phone-icon-1 {

            right: -280px;
            bottom: 40px;
        }
    }

    #story-2 {

        h3 {

            padding-top: 275px;
            width: 400px;
        }
    }

    #story-3 {

        h3 {

            padding-top: 150px;

            &:nth-of-type(1) {
                width: 300px;
                
            }
        }

        img {

            &:nth-of-type(2) {

                padding-top: 250px;
            }
        }

        #phone-icon-2 {

            top: 135px;
            left: -249px;
        }
    }
}

/* -------------- */
/* --- FOOTER --- */
/* -------------- */

#footer {

    ul {

        padding-top: 55px;
    }
}