h1 {

    font-size: 2em;

    &.no-text-transform.large {

        font-size: 2.4em;
    }
}

h2 {

    font-size: 1.6875rem;
}

p {

    line-height: 2em;
}

.learn-section {

    padding: 80px 0 50px;
}

button.yellow-background {

    width: auto;
    padding: 15px 80px;
}

#hero {

    h1 {

        max-width: 800px;
        margin: 0 auto;
        padding-top: 30px;
    }

    h6 {

        max-width: none;
    }
}

#analytics, #reliable {

    h2 {

        padding-top: 160px;
    }
}

#schmooze {

    h2 {

        padding: 100px 0 20px;
    }
}

#trial {

    padding: 70px 0 20px;

    h4 {

        max-width: 760px;
        margin: 0 auto;
    }
}

#process {

    padding: 30px 0 20px;

    p {

        max-width: 400px;
        margin: 0 auto;
        padding-bottom: 60px;
    }
}

#hardware-hero, #software-hero, #pricing-hero {

    padding-top: 200px;

    h4 {
        padding-bottom: 200px;
    }
}


/* --------------------------- */
/* --- PLAN PROFILE WIDGET --- */
/* --------------------------- */

#plan-profile {

    min-width: 450px;

    h4, #cost h4 {

        font-size: 1em;
    }

    #plan-profile-title {

        text-align: left;

        h5 {

            font-size: 120%;
        }
    }

    #plan-items, #cost {

        max-width: 80%;
        margin: 20px auto;

        .price {

            text-align: right;
        }

        h4:nth-of-type(1) {

            margin-left: 20px;
        }
    }

    #plan-items {

        .plan-item {

            padding: 5px 0;
            background-color: inherit;
            position: relative;
            margin: 0;

            .item-text {

                width: 100%;

                .description {
                    
                    float: left;
                    margin-bottom: 0;
                }

                .price {

                    float: right;
                }
            }

            .remove-item-icon {

                position: absolute;
                left: -20px;
            }
        }
    }

    #cost {

        border-top: 1px solid black;
        padding: 15px 0;
        text-align: left;

        h4 {

            font-weight: 300;
        }

        span {

            margin-left: 0;
        }
    }
}


/* ---------------------------------------- */
/* --- HARDWARE / SOFTWARE INTEGRATIONS --- */
/* ---------------------------------------- */

#story-1, #story-2, #story-3 {

    h3 {

        line-height: 1.7em;
        text-align: left;
    }
}

#hardware-support, #software-support {

    margin-bottom: 80px;
}

#hardware-intro, #software-intro {

    padding: 200px 0;
    background: url('../../img/shared/gradient_bg_1.png') no-repeat center;

    h3 {

        max-width: 650px;
        margin: 0 auto;
    }
}

/* ----------------------------- */
/* --- HARDWARE INTEGRATIONS --- */
/* ----------------------------- */

#story-1 {

    padding: 100px 0 160px;

    h3 {

        padding-top: 80px;
        max-width: 310px;
    }

    #story-1-phone-icon {

        position: absolute;
        top: 300px;
        left: -30px;
    }
}

#story-2 {

    background-color: $light-gray;
    padding: 40px 0 20px;

    h3 {

        padding-top: 80px;
        width: 270px;
    }

    #walking-icon-2 {

        position: absolute;
        bottom: -300px;
        right: 100px;
    }
}

#story-3 {

    h3 {

        padding-top: 300px;
    }

    img {

        padding-top: 80px;
    }
}

#all-in-one {

    background-color: $light-gray;
    padding: 80px 0;

    h2 {

        width: 200px;
        padding-bottom: 0;
    }
}



#hardware-trial {

    button {

        margin-bottom: 0;
    }

    h4 {

        line-height: 2em;
    }
}

#hardware-support {

    h3 {
        padding: 60px 0;
    }

    .border-top {

        border-top: 1px solid $dark-gray;
    }
}


/* ----------------------------- */
/* --- SOFTWARE INTEGRATIONS --- */
/* ----------------------------- */

#software-integrations {

    #story-1 {

        h3 {

            padding-top: 285px;
            max-width: 500px;
        }

        #phone-icon-1 {

            right: -280px;
            bottom: 40px;
        }
    }

    #story-2 {

        h3 {

            padding-top: 275px;
            width: 400px;
        }
    }

    #story-3 {

        h3 {

            padding-top: 150px;

            &:nth-of-type(1) {
                width: 300px;
                
            }
        }

        img {

            &:nth-of-type(2) {

                padding-top: 250px;
            }
        }

        #phone-icon-2 {

            top: 135px;
            left: -249px;
        }
    }
}

#extras {

    .slide {

        height: 630px;
    }

    button {

        width: 210px;
    }

    &>div {

        &>.row {

            padding: 70px 0;
        }
        

        p {

            max-width: 300px;
        }
    }
}



/* --------------- */
/* --- PRICING --- */
/* --------------- */

#pricing-learn-sections {

    text-align: center;

    .learn-section {

        display: inline-block;
        margin: 0 -2px;
        overflow: hidden;
        width: 50%;

        &:nth-child(1) {

            h4 {

                position: relative;
                left: 10%;
            } 
        }

        &:nth-child(2) {

            h4 {

                position: relative;
                right: 10%;
            } 
        }
    }
}

/* --------------- */
/* --- SUPPORT --- */
/* --------------- */


#support {

    .image-container {

        text-align: left;
    }

    #support-hero {

        background: url(../../img/support/support_hero_desktop.png) no-repeat center;
    }
}

/* -------------- */
/* --- FOOTER --- */
/* -------------- */

#footer {

    ul {

        padding-top: 55px;
    }
}