h2 {

    line-height: 1.3em;
    padding-bottom: 40px;
}


#base-plan {

    .card-left-arrow, .card-right-arrow {

        display: none;
    }
}

#discounts {

    &.row > {

        .left-arrow, .right-arrow {

            display: none;
        }
    }
}

#intro {

    padding: 30px 0 60px;

    h2 {

        padding-top: 60px;
    }
}

#home {

    #hero {

        h1 {

            font-size: 2.4em;
        }
    }
    
    #support {

        min-height: 552px;
    }

}



#schmooze {

    h3 {

        line-height: 1.5em;
    }
}

.card {

    .shadowed {

        .card-text {

            height: 170px;
        }

    }
}


/* ----------------------------- */
/* --- HARDWARE INTEGRATIONS --- */
/* ----------------------------- */

#hardware-hero {

    background-position: center;
}


/* --------------- */
/* --- SUPPORT --- */
/* --------------- */

#support {

    #support-hero {
        
        background: url(../../img/support/support_hero_tablet.png) no-repeat center;
    }
}