body {

    position: static;
}

h2 {

    line-height: 1.3em;
    padding-bottom: 40px;
}

.card-section {

    .left-arrow, .right-arrow {

        display: none;
    }
}

#intro {

    padding: 30px 0 60px;

    h2 {

        padding-top: 60px;
    }
}

#support {

    background: $mint url('../../img/home/support_background_tablet.png') no-repeat center;
    min-height: 620px;
}

#schmooze {

    h3 {

        line-height: 1.5em;
    }
}

.plan-card {

    .shadowed {

        .card-text {

            height: 170px;
        }

    }
}


/* ----------------------------- */
/* --- HARDWARE INTEGRATIONS --- */
/* ----------------------------- */

#hardware-hero {

    background-position: center;
}

#hardware-support {

    margin-bottom: 80px;
}