body {

    position: relative;
}

button {

    font-size: 0.9em;
    letter-spacing: 0.03em;
    padding: 0.7em;
}

button.yellow-background {

    width: 220px;
    @include border_radius(5px);
    padding: 15px 0;
}

/* --------------------- */
/* --- HEADER/FOOTER --- */
/* --------------------- */


#footer {

    padding-bottom: 15px;

    img {

        padding: 80px 0 60px;
    }

    .strong {

        padding-bottom: 15px;
    }
}


/* -------------- */
/* --- SHARED --- */
/* -------------- */

.card-section {

    .left-arrow, .right-arrow {
        position: absolute;
        top: 345px;
        cursor: pointer;
        z-index: 99;
    }

    .left-arrow {

        left: 0;
    }

    .right-arrow {

        right: 0;
    }

    .card-container {

        overflow: hidden;
        padding-top: 10px;
    }

    .plan-card {    

        max-width: 80%;
        cursor: pointer;

        .caption {

            background-color: $red-orange;
        }

        &.selected {

            .caption {

                background-color: $medium-blue;
            }
        }

        p, h4 {

            padding: 0 15px;
        }

        p {

            margin-bottom: 0;
        }

        .shadowed {
            
            // To get connected faded shadows all the way around, need redundant shadows
            box-shadow:
                  2px 2px 5px $medium-gray,
                  2px -2px 5px $medium-gray,
                  -2px -2px 5px $medium-gray,
                  -2px 2px 5px $medium-gray;
            position: relative;
            padding: 30px 0 0 0;

        }
    }
}

/* ----------------- */
/* --- HOME PAGE --- */
/* ----------------- */

.learn-section {

    padding: 70px 0;
}

#hero {

    h6 {

        max-width: 215px;
    }
}

#intro {

    border-top: 1px solid $dark-gray;
}

#schmooze {

    padding: 80px 0 60px;

    h2 {

        padding-bottom: 50px;
    }

    video {

        width: 65%;
    }
}

#support {

    background: $mint url('../../img/home/support_background_mobile.png') no-repeat center;
    min-height: 512px;
}


/* ------------------- */
/* --- GET STARTED --- */
/* ------------------- */


#step-1 {

    h4, form {

        max-width: 500px;
        margin: 0 auto;
    }
}

#step-2 {

    .card-section {

        .plan-card {    

            img {

                position: relative;
                top: 27px;
            }

            .shadowed {

                padding-top: 50px;

                .card-text {

                    height: 110px;

                    h5 {

                        padding-bottom: 30px;
                    }
                }
            }
        }
    }
}

#step-3 {

    h4 {

        max-width: 400px;
        margin: 15px auto;
        font-weight: 100;
    }
}

/* ---------------------------------------- */
/* --- HARDWARE / SOFTWARE INTEGRATIONS --- */
/* ---------------------------------------- */

#software-hero, #hardware-hero {

    h4 {
        
        line-height: 1.8em;
    }
}

#story-1, #story-2, #story-3, #hardware-intro, #software-intro {

    text-align: center;

    img {
        padding: 20px 0;
    }

    img.hide-for-large-up {

        margin: 0 auto;
    }

    h3 {

        font-weight: 100;
    }
}

#apps, #discounts {

    .plan-card { 

        .card-text {

            text-align: center;   

            h5 {

                padding-bottom: 15px;
                font-weight: 400;
            }     

            img {

                padding-bottom: 30px;
            }           
        }
    }
}

#hardware-support, #software-support {

    margin-top: 50px;

    a.white-border {

        padding: 8px 30px;
        display: inline-block;
        width: 170px;
        letter-spacing: 0.05em;
    }

    h3 {
        padding-bottom: 30px;

        a, a:hover {

            color: $light-blue;
        }

        a:hover {

            text-decoration: underline;
        }
    }
}

#hardware-trial, #software-trial {

    input, button {

        @include border_radius(5px);
    }

    h4 {

        line-height: 2em;
        font-weight: 100;
    }
}

#all-in-one {

    p {

        line-height: 2em;
    }
}


/* ----------------------------- */
/* --- HARDWARE INTEGRATIONS --- */
/* ----------------------------- */

#hardware-hero {

    background: url(../../img/hardware/hero_background.png) no-repeat 70%;
}

#hardware-intro {

    padding-top: 30px;
}

#all-in-one {

    .button-container {

        cursor: pointer;
        
        button, div {

            height: 40px;
        }

        button {

            padding-right: 70px;
            @include top_left_border_radius(5px);
            @include bottom_left_border_radius(5px);
        }

        div {
            line-height: 34px;
            padding: 0 5px;
            border-left: 1px solid white;
            @include top_right_border_radius(5px);
            @include bottom_right_border_radius(5px);
        }
    }
}

#discounts {

    h1 {

        border-bottom: 1px solid $dark-gray;
        max-width: 70%;
        margin: 0 auto 60px;
    }
}

/* ----------------------------- */
/* --- SOFTWARE INTEGRATIONS --- */
/* ----------------------------- */

#software-integrations {

    #software-hero {

        background: url(../../img/software/software_hero_bg.png) no-repeat;
    }

    #software-intro {

        padding: 80px 0;
        background-color: $light-gray;
    }

    #story-2 {

        img {

            padding-bottom: 0;
        }
    }

    #story-3 {

        img {

            padding-top: 0;
        }
    }
}
