/* Resets */
ul {
  margin: 0; }

li {
  list-style: none; }

button:hover {
  color: initial; }

.hide {
  display: none !important; }

/*Mixins*/
/* Radii */
.radius-7 {
  border-radius: 7px;
  -moz-border-radius: 7px; }

/* Colors */
input {
  padding: 15px; }
  input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: inherit; }
  input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: inherit;
    opacity: 1; }
  input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: inherit;
    opacity: 1; }
  input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: inherit; }

.white, .white:hover {
  color: white; }
  .white a, .white a:hover, .white a:active, .white:hover a, .white:hover a:hover, .white:hover a:active {
    color: white; }

.bright-blue {
  color: #01acd7; }

.bright-blue-background {
  background-color: #01acd7; }

.bright-green-background {
  background-color: #73be44; }

.dark-blue-background {
  background-color: #1f2837; }

.dark-gray, .dark-gray:hover, .dark-gray:focus {
  color: #434343; }

.dark-gray-background {
  background-color: #434343; }

.dark-gray-border {
  border: 1px solid #434343; }

.light-blue {
  color: #38a5dd; }

.light-blue-background {
  background-color: #38a5dd; }

.light-gray-background {
  background-color: #f2f2f2; }

.medium-blue {
  color: #3f55af; }

.medium-blue-background {
  background-color: #3f55af; }

.medium-dark-blue-background {
  background-color: #2e368e; }

.medium-dark-gray, .medium-dark-gray:hover, .medium-dark-gray:focus {
  color: #58585b; }

.medium-dark-gray-background {
  background-color: #58585b; }

.medium-dark-gray-border {
  border: 1px solid #58585b; }

.mint {
  color: #91cc8b; }

.mint-background {
  background-color: #91cc8b; }

.mint-border {
  border: 1px solid #91cc8b; }

.orange, .orange:hover, .orange:focus {
  color: #f89f31; }

.orange-border {
  border: 1px solid #f89f31; }

.orange-background {
  background-color: #f89f31; }

.red-orange {
  color: #e25736; }

.red-orange-background, .red-orange-background:hover, .red-orange-background:focus {
  background-color: #e25736; }

.red-orange-border {
  border: 1px solid #e25736; }

.teal-background {
  background-color: #5fb6b6; }

.yellow-background {
  background-color: #fdc838; }

.no-border {
  border: none; }

.no-background, .no-background:hover, .no-background:focus {
  background: none; }

.placeholder-medium-gray::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #787878; }
.placeholder-medium-gray:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #787878;
  opacity: 1; }
.placeholder-medium-gray::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #787878;
  opacity: 1; }
.placeholder-medium-gray:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #787878; }

/* Containers */
div, nav, form, textarea, input, a {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  vertical-align: top; }

.no-border {
  border: none; }

.white-border {
  border: 1px solid white; }

.medium-gray-border {
  border: 2px solid #787878; }

/*Links*/
a, a:visited {
  text-decoration: none; }

.pointer {
  cursor: pointer; }

/* Clearfix */
.group:after {
  content: "";
  display: table;
  clear: both; }

/*Fonts*/
.no-text-transform {
  text-transform: none; }

html, body, h1, h2, h3, h4, h5, p, a, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: inherit; }

h1 {
  text-transform: uppercase;
  font-size: 1.6em;
  letter-spacing: 0.07em; }
  h1.no-text-transform {
    font-size: 2.2em; }

h2 {
  line-height: 1.9em; }

h3 {
  line-height: 1.9em; }

h4 {
  font-size: 1.2rem;
  letter-spacing: 0.05em; }

.italic {
  font-style: italic; }

.uppercase {
  text-transform: uppercase; }

.light {
  font-weight: 100; }

.normal {
  font-weight: 400; }

.strong {
  font-weight: 500; }

.small {
  font-size: 80%; }

input.large {
  font-size: 1em; }

h1.large {
  font-size: 2.2em;
  line-height: 1.7em; }

h1.expanded {
  line-height: 2.1em; }

h1.condensed {
  line-height: 1.4em; }

h2.large {
  font-size: 2em; }

h2.condensed {
  line-height: 1.5em; }

h4.small {
  font-size: 1.1em; }

h4.large {
  font-size: 1.5em; }

h4.expanded {
  line-height: 1.6em; }

p.tiny {
  font-size: 0.7em; }

/*Layout*/
.center {
  margin: 0 auto; }

.inline-block > div, .inline-block > h1, .inline-block > h2, .inline-block > h3, .inline-block > h4, .inline-block > h5, .inline-block > img, .inline-block > a, .inline-block > p, .inline-block > input, .inline-block > button {
  display: inline-block; }

.block div, .block h1, .block h2, .block h3, .block h4, .block h5, .block img, .block a, .block p, .block input, .block button {
  display: block; }

.full-width {
  width: 100%; }

.max-150 {
  max-width: 150px; }

.max-275 {
  max-width: 275px; }

.max-285 {
  max-width: 285px; }

.width-285 {
  width: 285px; }

.max-1280 {
  max-width: 1280px; }

.width-100-percent {
  width: 100%; }

.absolute {
  position: absolute; }

.relative {
  position: relative; }

.padding-top-8 {
  padding-top: 8px; }

.padding-bottom-8 {
  padding-bottom: 8px; }

.padding-15 {
  padding: 15px; }

.padding-top-15 {
  padding-top: 15px; }

.padding-bottom-15 {
  padding-bottom: 15px; }

.padding-top-30 {
  padding-top: 30px; }

.padding-bottom-30 {
  padding-bottom: 30px; }

.padding-top-50 {
  padding-top: 50px; }

.padding-bottom-50 {
  padding-bottom: 50px; }

.padding-bottom-60 {
  padding-bottom: 60px; }

.padding-top-80 {
  padding-top: 80px; }

.padding-bottom-80 {
  padding-bottom: 80px; }

.margin-top-15 {
  margin-top: 15px; }

body {
  position: relative; }

button {
  font-size: 0.9em;
  letter-spacing: 0.03em;
  padding: 0.7em; }

button.yellow-background {
  width: 220px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 15px 0;
  margin-top: 30px; }

/* --------------------- */
/* --- HEADER/FOOTER --- */
/* --------------------- */
#footer {
  padding-bottom: 15px; }
  #footer img {
    padding: 80px 0 60px; }
  #footer .strong {
    padding-bottom: 15px; }

/* -------------- */
/* --- SHARED --- */
/* -------------- */
#nav img {
  margin: 0 auto; }

#mobile-logo-container {
  background-color: white;
  position: fixed;
  width: 100%;
  text-align: center;
  top: 0;
  z-index: 99;
  padding-bottom: 2px;
  box-shadow: 0 2px 5px #787878; }

#mobile-nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 5000px;
  z-index: 699;
  display: none; }
  #mobile-nav #mobile-nav-toggle {
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 999; }
  #mobile-nav > div {
    height: 44px; }
  #mobile-nav.closed ul {
    visibility: hidden; }
  #mobile-nav ul {
    text-align: center; }
    #mobile-nav ul li {
      border-top: 1px solid white;
      padding: 20px 0; }
      #mobile-nav ul li button {
        display: block;
        margin: 20px auto;
        background-color: inherit;
        border-radius: 5px;
        -moz-border-radius: 5px;
        width: 180px; }

#page-content {
  position: relative;
  padding-top: 40px; }

.close-button {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer; }

#hero-down-arrow {
  cursor: pointer; }
  #hero-down-arrow img {
    position: relative; }

.card-section .left-arrow, .card-section .right-arrow {
  position: absolute;
  top: 345px;
  cursor: pointer;
  z-index: 99; }
.card-section .left-arrow {
  left: 0; }
.card-section .right-arrow {
  right: 0; }
.card-section .card-container {
  overflow: hidden;
  padding-top: 50px; }
.card-section .card {
  max-width: 80%;
  cursor: pointer;
  margin-top: 5px; }
  .card-section .card .caption {
    background-color: #e25736;
    padding: 25px 0 20px; }
  .card-section .card.selected .caption, .card-section .card.selected .shadowed .card-details-container .card-details {
    background-color: #38a5dd; }
  .card-section .card p, .card-section .card h4 {
    padding: 0 15px; }
  .card-section .card p {
    margin-bottom: 0; }
  .card-section .card img.relative {
    top: 27px;
    z-index: 99; }
  .card-section .card .shadowed {
    box-shadow: 2px 2px 5px #787878, 2px -2px 5px #787878, -2px -2px 5px #787878, -2px 2px 5px #787878;
    position: relative;
    padding: 30px 0 0 0;
    background-color: white; }
    .card-section .card .shadowed .card-text {
      height: 250px; }
      .card-section .card .shadowed .card-text h5 {
        padding-bottom: 30px; }
    .card-section .card .shadowed .card-details-container {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      overflow: hidden; }
      .card-section .card .shadowed .card-details-container .card-details {
        top: 100%;
        background-color: #e25736;
        height: 100%;
        width: 100%;
        padding-top: 50px; }
        .card-section .card .shadowed .card-details-container .card-details ul {
          padding-left: 15px; }
          .card-section .card .shadowed .card-details-container .card-details ul li {
            background: url(../../img/shared/white_check_mark.png) no-repeat left;
            padding: 5px 0 5px 10px;
            font-size: 0.8em; }
  .card-section .card.device .shadowed .card-text {
    height: 100px; }
    .card-section .card.device .shadowed .card-text h5 {
      padding-bottom: 0; }

.slide {
  width: 100%; }

.slide-container {
  position: relative;
  overflow: hidden; }

#software-hero h4, #hardware-hero h4, #pricing-hero h4 {
  line-height: 1.8em; }

/* --------------------------- */
/* --- PLAN PROFILE TOGGLE --- */
/* --------------------------- */
#plan-profile {
  position: fixed;
  left: 0px;
  top: -9px;
  z-index: 299;
  max-width: 50px; }
  #plan-profile .plan-profile-toggle {
    width: 70px;
    height: 56px;
    background: url(../../img/shared/plan_profile_toggle_bg.png) no-repeat;
    position: relative;
    left: -3px;
    z-index: 499;
    cursor: pointer; }
    #plan-profile .plan-profile-toggle img {
      display: none; }
    #plan-profile .plan-profile-toggle h4 {
      padding: 15px 0 0 20px; }
  #plan-profile #plan-profile-content {
    display: none;
    background-color: #f2f2f2;
    padding: 80px 10px 20px;
    min-width: 320px;
    max-width: 100%;
    position: relative;
    top: -60px; }
    #plan-profile #plan-profile-content #plan-profile-title {
      text-align: center; }
      #plan-profile #plan-profile-content #plan-profile-title img, #plan-profile #plan-profile-content #plan-profile-title h5 {
        display: inline-block; }
      #plan-profile #plan-profile-content #plan-profile-title h5 {
        font-size: 80%; }
    #plan-profile #plan-profile-content #plan-items {
      margin-bottom: 10px; }
      #plan-profile #plan-profile-content #plan-items .plan-item {
        background-color: #dbe3e5;
        padding: 20px 10px 5px;
        margin: 10px 0; }
        #plan-profile #plan-profile-content #plan-items .plan-item .item-text {
          float: left; }
          #plan-profile #plan-profile-content #plan-items .plan-item .item-text .description {
            margin-bottom: 30px; }
        #plan-profile #plan-profile-content #plan-items .plan-item .remove-item {
          float: right;
          padding-top: 5px;
          cursor: pointer; }
    #plan-profile #plan-profile-content #cost {
      border-top: 1px solid black;
      padding: 15px 0;
      margin-top: 30px;
      text-align: center; }
      #plan-profile #plan-profile-content #cost .price {
        margin-left: 8px; }
      #plan-profile #plan-profile-content #cost h4 {
        font-size: 0.9em;
        display: inline-block;
        font-weight: 400; }
      #plan-profile #plan-profile-content #cost span {
        margin-left: 5px; }
    #plan-profile #plan-profile-content button {
      width: 70%;
      min-width: 200px;
      text-align: center;
      margin-bottom: 10px; }
    #plan-profile #plan-profile-content .plan-profile-close-button {
      cursor: pointer; }

/* ----------------- */
/* --- HOME PAGE --- */
/* ----------------- */
.learn-section {
  padding: 70px 0; }
  .learn-section h4 {
    margin: 0 auto; }

#home #hero h6 {
  max-width: 320px;
  margin: 0 auto 10px; }
  #home #hero h6 a, #home #hero h6 a:visited, #home #hero h6 a:active, #home #hero h6 a:hover {
    color: #5fb6b6; }
#home #hero #hero-down-arrow {
  display: inline-block; }

#intro {
  border-top: 1px solid #434343; }

#schmooze {
  padding: 80px 0 60px; }
  #schmooze h2 {
    padding-bottom: 50px; }
  #schmooze video {
    width: 65%; }

#home #support {
  background: #91cc8b url("../../img/home/support_background_mobile.png") no-repeat center;
  min-height: 512px; }

/* ------------------- */
/* --- GET STARTED --- */
/* ------------------- */
#get-started #device-discounts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5fb6b6;
  z-index: 199; }
#get-started #apps-add-ons {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

#step-1 h4, #step-1 form {
  max-width: 500px;
  margin: 0 auto; }

#step-2 {
  position: relative;
  padding: 50px 0 92px;
  overflow: hidden; }

#step-3 h4 {
  max-width: 400px;
  margin: 15px auto;
  font-weight: 100; }

/* ---------------------------------------- */
/* --- HARDWARE / SOFTWARE INTEGRATIONS --- */
/* ---------------------------------------- */
#story-1, #story-2, #story-3, #hardware-intro, #software-intro {
  text-align: center; }
  #story-1 img, #story-2 img, #story-3 img, #hardware-intro img, #software-intro img {
    padding: 20px 0; }
  #story-1 img.hide-for-large-up, #story-2 img.hide-for-large-up, #story-3 img.hide-for-large-up, #hardware-intro img.hide-for-large-up, #software-intro img.hide-for-large-up {
    margin: 0 auto; }
  #story-1 h3, #story-2 h3, #story-3 h3, #hardware-intro h3, #software-intro h3 {
    font-weight: 100; }

#apps .card .card-text, #devices .card .card-text {
  text-align: center; }
  #apps .card .card-text h5, #devices .card .card-text h5 {
    padding-bottom: 15px;
    font-weight: 400; }
  #apps .card .card-text img, #devices .card .card-text img {
    padding-bottom: 30px; }

#hardware-support, #software-support {
  margin-top: 50px; }
  #hardware-support a.white-border, #software-support a.white-border {
    padding: 8px 30px;
    display: inline-block;
    width: 170px;
    letter-spacing: 0.05em; }
  #hardware-support h3, #software-support h3 {
    padding-bottom: 30px; }
    #hardware-support h3 a, #hardware-support h3 a:hover, #software-support h3 a, #software-support h3 a:hover {
      color: #38a5dd; }
    #hardware-support h3 a:hover, #software-support h3 a:hover {
      text-decoration: underline; }

#hardware-trial input, #hardware-trial button, #software-trial input, #software-trial button {
  border-radius: 5px;
  -moz-border-radius: 5px; }
#hardware-trial h4, #software-trial h4 {
  line-height: 2em;
  font-weight: 100; }

#all-in-one p {
  line-height: 2em; }

/* ----------------------------- */
/* --- HARDWARE INTEGRATIONS --- */
/* ----------------------------- */
#hardware-hero {
  background: url(../../img/hardware/hero_background.png) no-repeat 70%; }

#hardware-intro {
  padding-top: 30px; }

#all-in-one .button-container {
  cursor: pointer; }
  #all-in-one .button-container button, #all-in-one .button-container div {
    height: 40px; }
  #all-in-one .button-container button {
    padding-right: 70px;
    border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px; }
  #all-in-one .button-container div {
    line-height: 34px;
    padding: 0 5px;
    border-left: 1px solid white;
    border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px; }

#discounts h1 {
  border-bottom: 1px solid #434343;
  max-width: 70%;
  margin: 0 auto 60px; }

/* ----------------------------- */
/* --- SOFTWARE INTEGRATIONS --- */
/* ----------------------------- */
#software-hero {
  background: url(../../img/software/software_hero_bg.png) no-repeat; }

#software-intro {
  padding: 80px 0;
  background-color: #f2f2f2; }

#software-integrations #story-2 img {
  padding-bottom: 0; }
#software-integrations #story-3 img {
  padding-top: 0; }

/* --------------- */
/* --- PRICING --- */
/* --------------- */
#pricing-hero {
  background: url(../../img/pricing/pricing_hero_bg.png) no-repeat; }

#extras-title div {
  max-width: 200px;
  margin: 0 auto;
  padding-bottom: 20px;
  border-bottom: 1px solid black; }

#extras .left-arrow, #extras .right-arrow {
  position: absolute;
  top: 48%;
  cursor: pointer; }
#extras .left-arrow {
  left: 1%; }
#extras .right-arrow {
  right: 1%; }
#extras .slide > .row {
  padding: 70px 0 30px;
  max-width: 70%; }
  #extras .slide > .row h1 {
    padding-bottom: 50px; }
  #extras .slide > .row p {
    line-height: 2em; }
#extras .add-container {
  padding-top: 30px;
  cursor: pointer; }
  #extras .add-container h5 {
    margin-bottom: 15px; }
  #extras .add-container img {
    margin-bottom: 8px; }
  #extras .add-container p {
    max-width: none; }

#pricing .learn-section {
  padding: 70px 0; }

/* --------------- */
/* --- SUPPORT --- */
/* --------------- */
#support {
  padding-bottom: 50px; }
  #support #support-hero {
    padding-top: 80px;
    background: url(../../img/support/support_hero_mobile.png) no-repeat center;
    height: 490px;
    margin-bottom: 20px; }
  #support button {
    width: 190px;
    padding: 15px 0;
    border-radius: 5px;
    margin-right: 15px; }
  #support p.uppercase {
    font-weight: 400;
    font-size: 0.9em;
    padding-top: 40px; }
  #support .image-container {
    padding-top: 40px;
    text-align: center; }

/* --------------- */
/* --- SCHMOOZE --- */
/* --------------- */
#schmooze-page p {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto; }
#schmooze-page h3.small {
  font-size: 1.5em; }
#schmooze-page h3 {
  font-size: 1.8em; }
#schmooze-page #schmooze-nav {
  box-shadow: 0 2px 5px #787878; }
#schmooze-page #communications h2 {
  max-width: 500px;
  margin: 0 auto; }
#schmooze-page #about-jamooz {
  padding: 200px 0 220px;
  background: url(../../img/schmooze/about.png) no-repeat center; }
  #schmooze-page #about-jamooz h3 {
    font-weight: 100;
    max-width: 700px;
    margin: 0 auto;
    line-height: 2em; }
  #schmooze-page #about-jamooz h4 {
    max-width: 400px;
    margin: 0 auto;
    padding: 15px 0; }
#schmooze-page #coming-soon {
  padding: 100px 0 80px; }
  #schmooze-page #coming-soon input {
    max-width: 500px;
    margin: 0 auto; }
  #schmooze-page #coming-soon button {
    width: 400px;
    padding: 15px 0;
    border-radius: 5px;
    -moz-border-radius: 5px; }

#schmooze-intro {
  padding-top: 80px; }
  #schmooze-intro h3 {
    max-width: 410px; }
  #schmooze-intro form input, #schmooze-intro form button {
    height: 50px; }
  #schmooze-intro form input {
    max-width: 310px; }

#support {
  background: #1f2837 url(../../img/schmooze/support.png) no-repeat center bottom;
  height: 550px;
  padding-top: 100px; }
  #support h4 {
    padding: 20px 60px;
    margin-left: auto;
    margin-right: auto; }

/* --------------- */
/* --- SUCCESS --- */
/* --------------- */
#success-page, .success-pages {
  height: 100%;
  width: 100%;
  position: absolute; }
  #success-page #sidebar, .success-pages #sidebar {
    width: 25%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; }
    #success-page #sidebar .side-menu-header, .success-pages #sidebar .side-menu-header {
      padding: 36px 15px 35px; }
    #success-page #sidebar .side-menu-item, .success-pages #sidebar .side-menu-item {
      border-bottom: 1px solid black; }
      #success-page #sidebar .side-menu-item > div, .success-pages #sidebar .side-menu-item > div {
        padding: 20px 30px;
        width: 100%; }
        #success-page #sidebar .side-menu-item > div:nth-of-type(1), .success-pages #sidebar .side-menu-item > div:nth-of-type(1) {
          padding: 40px 30px;
          margin-bottom: 20px; }
        #success-page #sidebar .side-menu-item > div p, .success-pages #sidebar .side-menu-item > div p {
          margin-bottom: 0; }
  #success-page #main-content, .success-pages #main-content {
    position: absolute;
    top: 0;
    left: 25%;
    width: 75%; }
    #success-page #main-content #nav, .success-pages #main-content #nav {
      width: 100%; }
      #success-page #main-content #nav input, .success-pages #main-content #nav input {
        width: 400px;
        border: 1px solid black;
        border-radius: 5px;
        -moz-border-radius: 5px;
        display: inline-block;
        height: 42px;
        margin-right: 80px;
        background: url(../../img/success/black_search_icon.png) no-repeat 2%;
        padding-right: 40px; }
      #success-page #main-content #nav button, .success-pages #main-content #nav button {
        width: 140px; }
      #success-page #main-content #nav button:nth-of-type(2), .success-pages #main-content #nav button:nth-of-type(2) {
        margin-left: 10px; }
    #success-page #main-content #welcome, .success-pages #main-content #welcome {
      padding: 90px 0; }
    #success-page #main-content #success-header, .success-pages #main-content #success-header {
      padding: 110px 0 90px; }
    #success-page #main-content #subcategory, .success-pages #main-content #subcategory {
      padding: 20px 0; }
    #success-page #main-content #success-header, #success-page #main-content #subcategory, #success-page #main-content #content-container, .success-pages #main-content #success-header, .success-pages #main-content #subcategory, .success-pages #main-content #content-container {
      padding-left: 80px; }
  #success-page #welcome, .success-pages #welcome {
    background: #deccb4 url(../../img/success/success_bg.png) no-repeat 70%; }
    #success-page #welcome h2, #success-page #welcome p, .success-pages #welcome h2, .success-pages #welcome p {
      max-width: 300px; }
    #success-page #welcome button, .success-pages #welcome button {
      padding: 20px 40px; }
  #success-page #search-bar, .success-pages #search-bar {
    width: 100%;
    padding: 30px 0 10px;
    text-align: center; }
    #success-page #search-bar input, .success-pages #search-bar input {
      border-radius: 5px;
      -moz-border-radius: 5px;
      background: url(../../img/success/search_icon.png) no-repeat 2%;
      padding: 15px 15px 15px 50px;
      border: 1px solid white; }
      #success-page #search-bar input::-webkit-input-placeholder, .success-pages #search-bar input::-webkit-input-placeholder {
        /* WebKit browsers */
        color: white; }
      #success-page #search-bar input:-moz-placeholder, .success-pages #search-bar input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: white;
        opacity: 1; }
      #success-page #search-bar input::-moz-placeholder, .success-pages #search-bar input::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: white;
        opacity: 1; }
      #success-page #search-bar input:-ms-input-placeholder, .success-pages #search-bar input:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: white; }
  #success-page #footer-options, .success-pages #footer-options {
    padding: 200px 0 40px;
    width: 100%; }
  #success-page #success-footer, .success-pages #success-footer {
    width: 100%; }
    #success-page #success-footer > div, .success-pages #success-footer > div {
      width: 50%;
      margin: 0 -2px;
      padding: 30px;
      display: inline-block; }
      #success-page #success-footer > div p, .success-pages #success-footer > div p {
        margin-bottom: 0;
        line-height: 1.2em; }
      #success-page #success-footer > div img, .success-pages #success-footer > div img {
        padding-top: 5px; }
      #success-page #success-footer > div:nth-of-type(1) img, .success-pages #success-footer > div:nth-of-type(1) img {
        padding-right: 20px; }
      #success-page #success-footer > div:nth-of-type(2) img, .success-pages #success-footer > div:nth-of-type(2) img {
        padding-left: 20px; }

#success-page-2 #content-container .content-menu-container {
  padding-left: 20px;
  border-left: 5px solid #38a5dd; }

@media only screen and (min-width: 640px) {
  body {
    position: static; }

  h2 {
    line-height: 1.3em;
    padding-bottom: 40px; }

  #plans .card-left-arrow, #plans .card-right-arrow, #apps .card-left-arrow, #apps .card-right-arrow, #base-plan .card-left-arrow, #base-plan .card-right-arrow, #devices .card-left-arrow, #devices .card-right-arrow {
    display: none; }

  #discounts.row > .left-arrow, #discounts.row > .right-arrow {
    display: none; }

  #intro {
    padding: 30px 0 60px; }
    #intro h2 {
      padding-top: 60px; }

  #home #support {
    background: #91cc8b url("../../img/home/support_background_tablet.png") no-repeat center;
    min-height: 620px; }

  #schmooze h3 {
    line-height: 1.5em; }

  .card .shadowed .card-text {
    height: 170px; }

  /* ----------------------------- */
  /* --- HARDWARE INTEGRATIONS --- */
  /* ----------------------------- */
  #hardware-hero {
    background-position: center; }

  /* --------------- */
  /* --- SUPPORT --- */
  /* --------------- */
  #support #support-hero {
    background: url(../../img/support/support_hero_tablet.png) no-repeat center; } }
@media only screen and (min-width: 1025px) {
  h1 {
    font-size: 2em; }
    h1.no-text-transform.large {
      font-size: 2.4em; }

  h2 {
    font-size: 1.6875rem; }

  p {
    line-height: 2em; }

  #nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    padding: 0 0 5px;
    z-index: 199;
    box-shadow: 0 2px 5px #787878; }

  .learn-section {
    padding: 80px 0 50px; }

  button.yellow-background {
    width: auto;
    padding: 15px 80px; }

  #page-content {
    padding-top: 80px; }

  #hero h1 {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 30px; }
  #hero h6 {
    max-width: none; }

  #analytics h2, #reliable h2 {
    padding-top: 100px; }

  #schmooze h2 {
    padding: 100px 0 20px; }

  #trial {
    padding: 70px 0 20px; }
    #trial h4 {
      max-width: 760px;
      margin: 0 auto; }

  #process {
    padding: 30px 0 20px; }
    #process p {
      max-width: 400px;
      margin: 0 auto;
      padding-bottom: 60px; }

  #hardware-hero, #software-hero, #pricing-hero {
    padding-top: 200px; }
    #hardware-hero h4, #software-hero h4, #pricing-hero h4 {
      padding-bottom: 200px; }

  #home #intro {
    padding-top: 110px; }
  #home #support button {
    width: 480px;
    font-size: 1.4em; }
  #home #page-brand {
    margin-top: -80px; }
    #home #page-brand img {
      margin: 0 auto; }
  #home #hero {
    margin-bottom: -30px; }
    #home #hero #hero-text button, #home #hero #hero-text > h6 {
      position: relative;
      top: -125px; }
    #home #hero #hero-text #hero-down-arrow {
      position: relative;
      top: -50px; }

  /* --------------------------- */
  /* --- PLAN PROFILE WIDGET --- */
  /* --------------------------- */
  #plan-profile {
    top: 15%; }
    #plan-profile h4, #plan-profile #cost h4 {
      font-size: 1em; }
    #plan-profile #plan-profile-content {
      min-width: 450px; }
      #plan-profile #plan-profile-content #plan-profile-title {
        text-align: left; }
        #plan-profile #plan-profile-content #plan-profile-title h5 {
          font-size: 120%; }
      #plan-profile #plan-profile-content #plan-items, #plan-profile #plan-profile-content #cost {
        max-width: 80%;
        margin: 20px auto; }
        #plan-profile #plan-profile-content #plan-items .price, #plan-profile #plan-profile-content #cost .price {
          text-align: right; }
        #plan-profile #plan-profile-content #plan-items h4:nth-of-type(1), #plan-profile #plan-profile-content #cost h4:nth-of-type(1) {
          margin-left: 20px; }
      #plan-profile #plan-profile-content #plan-items .plan-item {
        padding: 5px 0;
        background-color: inherit;
        position: relative;
        margin: 0; }
        #plan-profile #plan-profile-content #plan-items .plan-item .item-text {
          width: 100%; }
          #plan-profile #plan-profile-content #plan-items .plan-item .item-text .description {
            float: left;
            margin-bottom: 0; }
          #plan-profile #plan-profile-content #plan-items .plan-item .item-text .price {
            float: right; }
        #plan-profile #plan-profile-content #plan-items .plan-item .remove-item {
          position: absolute;
          left: -20px; }
      #plan-profile #plan-profile-content #cost {
        border-top: 1px solid black;
        padding: 15px 0;
        text-align: left; }
        #plan-profile #plan-profile-content #cost h4 {
          font-weight: 300; }
        #plan-profile #plan-profile-content #cost span {
          margin-left: 0; }

  /* ---------------------------------------- */
  /* --- HARDWARE / SOFTWARE INTEGRATIONS --- */
  /* ---------------------------------------- */
  #story-1 h3, #story-2 h3, #story-3 h3 {
    line-height: 1.7em;
    text-align: left; }

  #hardware-support, #software-support {
    margin-bottom: 80px; }

  #hardware-intro, #software-intro {
    padding: 200px 0;
    background: url("../../img/shared/gradient_bg_1.png") no-repeat center; }
    #hardware-intro h3, #software-intro h3 {
      max-width: 650px;
      margin: 0 auto; }

  /* ----------------------------- */
  /* --- HARDWARE INTEGRATIONS --- */
  /* ----------------------------- */
  #story-1 {
    padding: 100px 0 160px; }
    #story-1 h3 {
      padding-top: 80px;
      max-width: 310px; }
    #story-1 #story-1-phone-icon {
      position: absolute;
      top: 300px;
      left: -30px; }

  #story-2 {
    background-color: #f2f2f2;
    padding: 40px 0 20px; }
    #story-2 h3 {
      padding-top: 80px;
      width: 270px; }
    #story-2 #walking-icon-2 {
      position: absolute;
      bottom: -300px;
      right: 100px; }

  #story-3 h3 {
    padding-top: 300px; }
  #story-3 img {
    padding-top: 80px; }

  #all-in-one {
    background-color: #f2f2f2;
    padding: 80px 0; }
    #all-in-one h2 {
      width: 200px;
      padding-bottom: 0; }

  #hardware-trial button {
    margin-bottom: 0; }
  #hardware-trial h4 {
    line-height: 2em; }

  #hardware-support h3 {
    padding: 60px 0; }
  #hardware-support .border-top {
    border-top: 1px solid #434343; }

  /* ----------------------------- */
  /* --- SOFTWARE INTEGRATIONS --- */
  /* ----------------------------- */
  #software-integrations .hero h1, #software-integrations .hero h4 {
    max-width: 620px;
    margin-left: 20%; }
  #software-integrations #story-1 h3 {
    padding-top: 285px;
    max-width: 500px; }
  #software-integrations #story-1 #phone-icon-1 {
    right: -280px;
    bottom: 40px; }
  #software-integrations #story-2 h3 {
    padding-top: 275px;
    width: 400px; }
  #software-integrations #story-3 h3 {
    padding-top: 150px; }
    #software-integrations #story-3 h3:nth-of-type(1) {
      width: 300px; }
  #software-integrations #story-3 img:nth-of-type(2) {
    padding-top: 250px; }
  #software-integrations #story-3 #phone-icon-2 {
    top: 135px;
    left: -249px; }

  #extras .slide {
    height: 630px; }
  #extras button {
    width: 210px; }
  #extras > div > .row {
    padding: 70px 0; }
  #extras > div p {
    max-width: 300px; }

  /* --------------- */
  /* --- PRICING --- */
  /* --------------- */
  #pricing-learn-sections {
    text-align: center; }
    #pricing-learn-sections .learn-section {
      display: inline-block;
      margin: 0 -2px;
      overflow: hidden;
      width: 50%; }
      #pricing-learn-sections .learn-section:nth-child(1) h4 {
        position: relative;
        left: 10%; }
      #pricing-learn-sections .learn-section:nth-child(2) h4 {
        position: relative;
        right: 10%; }

  /* --------------- */
  /* --- SUPPORT --- */
  /* --------------- */
  #support .image-container {
    text-align: left; }
  #support #support-hero {
    background: url(../../img/support/support_hero_desktop.png) no-repeat center; }

  /* -------------- */
  /* --- FOOTER --- */
  /* -------------- */
  #footer ul {
    padding-top: 55px; } }

/*# sourceMappingURL=styles.css.map */
