/* Colors */
/* line 14, ../scss/custom.scss */
.light-blue-background {
  background-color: #38a5dd;
}

/* line 42, ../scss/custom.scss */
input {
  padding: 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/* line 26, ../scss/custom.scss */
input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: inherit;
}
/* line 29, ../scss/custom.scss */
input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: inherit;
  opacity: 1;
}
/* line 33, ../scss/custom.scss */
input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: inherit;
  opacity: 1;
}
/* line 37, ../scss/custom.scss */
input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: inherit;
}

/* Clearfix */
/* line 51, ../scss/custom.scss */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* line 57, ../scss/custom.scss */
.hidden {
  visibility: hidden;
}

/* line 62, ../scss/custom.scss */
.relative {
  position: relative;
}

/* line 67, ../scss/custom.scss */
.absolute {
  position: absolute;
}

/* line 72, ../scss/custom.scss */
.left {
  float: left;
}

/* line 77, ../scss/custom.scss */
.right {
  float: right;
}

/* line 84, ../scss/custom.scss */
.inline-block > div, .inline-block > h1, .inline-block > h2, .inline-block > h3, .inline-block > h4, .inline-block > h5, .inline-block > img, .inline-block > a, .inline-block > p, .inline-block > input, .inline-block > button {
  display: inline-block;
}

/* line 90, ../scss/custom.scss */
.text-right {
  text-align: right;
}

/* line 95, ../scss/custom.scss */
.text-center {
  text-align: center;
}

/* line 100, ../scss/custom.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 105, ../scss/custom.scss */
.max-960 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* line 112, ../scss/custom.scss */
.medium-blue-background {
  background-color: #3f55af;
}

/* line 117, ../scss/custom.scss */
.medium-dark-gray-border {
  border: 1px solid #58585b;
}

/* line 122, ../scss/custom.scss */
.orange-background {
  background-color: #f89f31;
}

/* line 127, ../scss/custom.scss */
.red-orange-background {
  background-color: #e25736;
}

/* line 132, ../scss/custom.scss */
.red-orange-border {
  border: 1px solid #e25736;
}

/* line 138, ../scss/custom.scss */
.white {
  color: white;
}

/* line 143, ../scss/custom.scss */
body {
  font-weight: 300;
}

/* line 148, ../scss/custom.scss */
body, .sidebar {
  background-color: #e6e6e6;
}

/* line 153, ../scss/custom.scss */
html, body, h1, h2, h3, h4, h5, p, a, input, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: inherit;
}

/* line 160, ../scss/custom.scss */
h4 {
  font-weight: 400;
}

/* line 165, ../scss/custom.scss */
img {
  max-width: 100%;
}

/* line 170, ../scss/custom.scss */
#content {
  margin-top: 0;
}

/* line 175, ../scss/custom.scss */
.wrap {
  width: 100%;
}

/* line 180, ../scss/custom.scss */
#home, #main {
  width: 100%;
}

/* line 185, ../scss/custom.scss */
#main {
  padding-right: 0;
}

/* line 192, ../scss/custom.scss */
.entry-content p {
  font-size: 19px;
  font-weight: 300;
  line-height: 38px;
}

/* line 200, ../scss/custom.scss */
.sidebar {
  position: absolute;
  left: -900px;
  top: 0;
}

/* line 207, ../scss/custom.scss */
.brand {
  background-color: #f2f2f2;
  min-height: 103px;
  padding: 50px 0;
}

/* --------------------------- */
/* ---    HEADER STYLES    --- */
/* --------------------------- */
/* line 218, ../scss/custom.scss */
.header {
  background-color: white;
}
/* line 222, ../scss/custom.scss */
.header .main-header {
  width: 100%;
  float: right;
  padding: 15px;
}
/* line 228, ../scss/custom.scss */
.header .main-header form, .header .main-header button {
  border-radius: 5px;
  -moz-border-radius: 5px;
}
/* line 233, ../scss/custom.scss */
.header .main-header form {
  display: block;
}
/* line 237, ../scss/custom.scss */
.header .main-header form input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/* line 244, ../scss/custom.scss */
.header .main-header button {
  display: none;
}
/* line 249, ../scss/custom.scss */
.header .main-header #mobile-menu {
  padding-bottom: 15px;
}
/* line 253, ../scss/custom.scss */
.header .main-header #mobile-menu .container {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}
/* line 261, ../scss/custom.scss */
.header .main-header #mobile-menu .container .right img {
  padding-right: 30px;
}
/* line 265, ../scss/custom.scss */
.header .main-header #mobile-menu .container .right img:last-child {
  padding-right: 0;
}
/* line 274, ../scss/custom.scss */
.header .main-header #header-search {
  width: 100%;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
/* line 282, ../scss/custom.scss */
.header .main-header #header-search.hidden {
  display: none;
}
/* line 287, ../scss/custom.scss */
.header .main-header #header-search form {
  width: 100%;
}
/* line 291, ../scss/custom.scss */
.header .main-header #header-search form input {
  margin-bottom: 0;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  padding-left: 50px;
  background: url(../images/search_icon_black.png) no-repeat 2%;
}
/* line 26, ../scss/custom.scss */
.header .main-header #header-search form input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: black;
}
/* line 29, ../scss/custom.scss */
.header .main-header #header-search form input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: black;
  opacity: 1;
}
/* line 33, ../scss/custom.scss */
.header .main-header #header-search form input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: black;
  opacity: 1;
}
/* line 37, ../scss/custom.scss */
.header .main-header #header-search form input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: black;
}
/* line 307, ../scss/custom.scss */
.header .main-header button {
  padding: 10px 30px;
  width: 150px;
  background: none;
  text-transform: uppercase;
  margin-right: 10px;
}

/* ---------------------------- */
/* ---    SIDEBAR STYLES    --- */
/* ---------------------------- */
/* line 326, ../scss/custom.scss */
.sidebar {
  margin-top: 0;
  height: 100%;
  width: 80%;
  min-width: 280px;
}
/* line 333, ../scss/custom.scss */
.sidebar .category {
  border-bottom: 1px solid #bcbcbc;
}
/* line 337, ../scss/custom.scss */
.sidebar .category a {
  text-decoration: none;
}
/* line 342, ../scss/custom.scss */
.sidebar .category h4 {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  color: black;
  margin: 0;
  padding: 40px 15px;
}
/* line 352, ../scss/custom.scss */
.sidebar .category .category-posts {
  display: none;
  padding: 0 30px;
}
/* line 357, ../scss/custom.scss */
.sidebar .category .category-posts a {
  color: black;
}
/* line 362, ../scss/custom.scss */
.sidebar .category .category-posts a:hover {
  color: #38a5dd;
}

/* ---------------------------- */
/* ---     LANDING PAGE     --- */
/* ---------------------------- */
/* line 375, ../scss/custom.scss */
#home {
  background-color: #deccb4;
  padding: 80px 0 0 0;
}
/* line 380, ../scss/custom.scss */
#home .text {
  max-width: 80%;
  margin: 0 auto 100px;
}
/* line 385, ../scss/custom.scss */
#home .text h1, #home .text p {
  margin-bottom: 40px;
}
/* line 390, ../scss/custom.scss */
#home .text h1 {
  font-size: 30px;
  color: #e25736;
  font-weight: 500;
}
/* line 397, ../scss/custom.scss */
#home .text p {
  font-size: 17px;
  color: black;
}
/* line 403, ../scss/custom.scss */
#home .text button {
  padding: 20px 40px;
  border: none;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  border-radius: 5px;
  -moz-border-radius: 5px;
}
/* line 414, ../scss/custom.scss */
#home #search-section {
  text-align: center;
  background-color: #5fb7b7;
}
/* line 419, ../scss/custom.scss */
#home #search-section form {
  padding: 40px;
  color: white;
}
/* line 424, ../scss/custom.scss */
#home #search-section form input {
  background: url(../images/search_icon_white.png) no-repeat 2%;
  padding: 5px 0 5px 60px;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  width: 60%;
  min-width: 240px;
  max-width: none;
  margin: 0 auto;
  font-size: 17px;
}
/* line 26, ../scss/custom.scss */
#home #search-section form input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: white;
}
/* line 29, ../scss/custom.scss */
#home #search-section form input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: white;
  opacity: 1;
}
/* line 33, ../scss/custom.scss */
#home #search-section form input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: white;
  opacity: 1;
}
/* line 37, ../scss/custom.scss */
#home #search-section form input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: white;
}

/* ---------------------------- */
/* ---     CATEGORY PAGE    --- */
/* ---------------------------- */
/* line 446, ../scss/custom.scss */
.page-title, .archive-title {
  padding: 120px 20px 120px;
  text-transform: uppercase;
  font-size: 30px;
  background-color: #38a5dd;
  color: white;
  margin: 0;
}

/* line 456, ../scss/custom.scss */
.entry-title {
  color: black;
  text-transform: uppercase;
  font-size: 26px;
}
/* line 462, ../scss/custom.scss */
.entry-title a {
  color: black;
}

/* line 468, ../scss/custom.scss */
.entry-content {
  padding: 20px;
}

/* line 473, ../scss/custom.scss */
.hentry {
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  -moz-border-radius: 0;
  padding: 40px 0 40px;
}
/* line 481, ../scss/custom.scss */
.hentry header {
  border-bottom: none;
  padding: 0 20px 20px 20px;
}
/* line 486, ../scss/custom.scss */
.hentry header a {
  padding-top: 1.5em;
  display: inline-block;
}
/* line 493, ../scss/custom.scss */
.hentry a, .hentry a:hover {
  color: #38a5dd;
}

/* ---------------------------- */
/* ---    FOOTER STYLES     --- */
/* ---------------------------- */
/* line 505, ../scss/custom.scss */
.footer {
  background-color: white;
  color: black;
  position: relative;
}
/* line 511, ../scss/custom.scss */
.footer a {
  color: black;
  text-decoration: none;
  display: inline-block;
}
/* line 517, ../scss/custom.scss */
.footer a:hover {
  color: #38a5dd;
}
/* line 523, ../scss/custom.scss */
.footer #footer-left {
  display: none;
}
/* line 528, ../scss/custom.scss */
.footer #footer-right {
  width: 100%;
  float: right;
  padding-top: 20px;
}
/* line 536, ../scss/custom.scss */
.footer #footer-right div.max-960 a {
  font-weight: 300;
  margin: 30px 6%;
  text-transform: uppercase;
}
/* line 544, ../scss/custom.scss */
.footer #footer-right div.half {
  width: 50%;
  float: left;
  padding: 20px;
}
/* line 550, ../scss/custom.scss */
.footer #footer-right div.half p {
  margin-bottom: 0;
  margin-top: 0;
}
/* line 556, ../scss/custom.scss */
.footer #footer-right div.half a, .footer #footer-right div.half a:hover {
  color: white;
}
/* line 562, ../scss/custom.scss */
.footer #footer-right .topics, .footer #footer-right .footer-nav {
  display: block;
}

/* line 569, ../scss/custom.scss */
#login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/login_bg.png) no-repeat center;
  text-align: center;
  z-index: 999;
  display: none;
}
/* line 581, ../scss/custom.scss */
#login-overlay #login-modal {
  max-width: 550px;
  background-color: white;
  margin: 2% auto;
  padding-bottom: 30px;
  border-radius: 10px;
  -moz-border-radius: 10px;
}
/* line 589, ../scss/custom.scss */
#login-overlay #login-modal #login-close {
  top: 5px;
  right: 5px;
  cursor: pointer;
}
/* line 596, ../scss/custom.scss */
#login-overlay #login-modal #login-title {
  border-bottom: 1px solid #787878;
}
/* line 601, ../scss/custom.scss */
#login-overlay #login-modal form {
  padding: 0 3%;
  max-width: 400px;
  margin: 0 auto;
}
/* line 607, ../scss/custom.scss */
#login-overlay #login-modal form input {
  background: none;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  -moz-border-radius: 0;
  padding: 20px;
  letter-spacing: 0;
}
/* line 26, ../scss/custom.scss */
#login-overlay #login-modal form input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: black;
}
/* line 29, ../scss/custom.scss */
#login-overlay #login-modal form input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: black;
  opacity: 1;
}
/* line 33, ../scss/custom.scss */
#login-overlay #login-modal form input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: black;
  opacity: 1;
}
/* line 37, ../scss/custom.scss */
#login-overlay #login-modal form input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: black;
}
/* line 617, ../scss/custom.scss */
#login-overlay #login-modal form input, #login-overlay #login-modal form button {
  margin: 30px auto 10px;
  width: 100%;
  font-size: 14px;
  line-height: 14px;
  font-family: 'Roboto', sans-serif;
  height: auto;
}
/* line 627, ../scss/custom.scss */
#login-overlay #login-modal form button {
  margin: 10px auto;
  border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 20px 0;
  border: none;
}

/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ------------------------    DESKTOP STYLES     ------------------------ */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
@media only screen and (min-width: 992px) {
  /* line 649, ../scss/custom.scss */
  #home, #main {
    width: 81%;
  }

  /* line 654, ../scss/custom.scss */
  #inner-header {
    width: 81%;
    float: right;
    background-color: white;
  }

  /* line 661, ../scss/custom.scss */
  .brand {
    padding: 0;
  }

  /* line 666, ../scss/custom.scss */
  .sidebar {
    position: static;
    width: 19%;
  }

  /* line 672, ../scss/custom.scss */
  .sidebar {
    min-width: auto;
  }

  /* line 677, ../scss/custom.scss */
  .page-title, .archive-title {
    padding: 120px 0 120px 100px;
  }

  /* line 682, ../scss/custom.scss */
  .hentry {
    padding: 40px 0 40px 100px;
  }

  /* line 687, ../scss/custom.scss */
  #home {
    background: #deccb4 url(../images/success-bg.png) no-repeat 80% 20%;
  }
  /* line 691, ../scss/custom.scss */
  #home .text {
    max-width: 300px;
    margin: 0 0 100px 100px;
  }
  /* line 696, ../scss/custom.scss */
  #home .text h1 {
    text-transform: uppercase;
  }
  /* line 706, ../scss/custom.scss */
  #home #search-section form input {
    min-width: 300px;
  }

  /* line 716, ../scss/custom.scss */
  .header .main-header {
    padding: 30px 0 30px 60px;
  }
  /* line 720, ../scss/custom.scss */
  .header .main-header button {
    display: inline-block;
  }
  /* line 725, ../scss/custom.scss */
  .header .main-header #mobile-menu {
    display: none;
  }
  /* line 730, ../scss/custom.scss */
  .header .main-header #header-search {
    margin-right: 30px;
    width: 50%;
  }
  /* line 735, ../scss/custom.scss */
  .header .main-header #header-search.hidden {
    display: inline-block;
  }

  /* line 747, ../scss/custom.scss */
  .footer #footer-left {
    display: block;
    background-color: #f2f2f2;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 19%;
  }
  /* line 757, ../scss/custom.scss */
  .footer #footer-left .content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  /* line 764, ../scss/custom.scss */
  .footer #footer-left .content p {
    margin-top: 0;
  }
  /* line 769, ../scss/custom.scss */
  .footer #footer-left .content a:hover {
    color: inherit;
  }
  /* line 776, ../scss/custom.scss */
  .footer #footer-right {
    width: 81%;
  }
  /* line 780, ../scss/custom.scss */
  .footer #footer-right div.half {
    padding: 20px 100px;
  }
}
@media only screen and (min-width: 1280px) {
  /* line 794, ../scss/custom.scss */
  .sidebar .category h4 {
    padding: 30px 40px;
  }
}
