/* Colors */
/* Clearfix */
/* line 33, ../scss/custom.scss */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* line 39, ../scss/custom.scss */
.medium-dark-gray-border {
  border: 1px solid #58585b;
}

/* line 44, ../scss/custom.scss */
.red-orange-background {
  background-color: #e25736;
}

/* line 49, ../scss/custom.scss */
.red-orange-border {
  border: 1px solid #e25736;
}

/* line 55, ../scss/custom.scss */
.white {
  color: white;
}

/* line 60, ../scss/custom.scss */
body {
  background-color: #e6e6e6;
}

/* line 65, ../scss/custom.scss */
#content {
  margin-top: 0;
}

/* line 70, ../scss/custom.scss */
.wrap {
  width: 100%;
}

/* line 75, ../scss/custom.scss */
#home, #main {
  width: 81%;
}

/* --------------------------- */
/* ---    HEADER STYLES    --- */
/* --------------------------- */
/* line 84, ../scss/custom.scss */
.header {
  background-color: white;
}
/* line 88, ../scss/custom.scss */
.header .brand {
  width: 19%;
  float: left;
}
/* line 94, ../scss/custom.scss */
.header .main-header {
  width: 81%;
  float: right;
  padding: 30px 0 30px 60px;
}
/* line 100, ../scss/custom.scss */
.header .main-header form, .header .main-header button {
  display: inline-block;
  border-radius: 5px;
  -moz-border-radius: 5px;
}
/* line 106, ../scss/custom.scss */
.header .main-header form {
  width: 50%;
  min-width: 300px;
  margin-right: 50px;
}
/* line 112, ../scss/custom.scss */
.header .main-header form input {
  margin-bottom: 0;
  max-width: 90%;
  background: none;
  border: 1px solid black;
  padding-left: 50px;
}
/* line 16, ../scss/custom.scss */
.header .main-header form input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: black;
}
/* line 19, ../scss/custom.scss */
.header .main-header form input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: black;
  opacity: 1;
}
/* line 23, ../scss/custom.scss */
.header .main-header form input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: black;
  opacity: 1;
}
/* line 27, ../scss/custom.scss */
.header .main-header form input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: black;
}
/* line 123, ../scss/custom.scss */
.header .main-header button {
  padding: 10px 30px;
  width: 150px;
  background: none;
  text-transform: uppercase;
  margin-right: 10px;
}

/* ---------------------------- */
/* ---    SIDEBAR STYLES    --- */
/* ---------------------------- */
/* line 142, ../scss/custom.scss */
.sidebar {
  margin-top: 0;
  height: 100%;
  width: 19%;
}
/* line 148, ../scss/custom.scss */
.sidebar .category {
  padding: 30px 0;
  border-bottom: 1px solid black;
}
/* line 153, ../scss/custom.scss */
.sidebar .category a {
  text-decoration: none;
}
/* line 158, ../scss/custom.scss */
.sidebar .category h4 {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  margin: 0;
  padding: 30px;
}
/* line 168, ../scss/custom.scss */
.sidebar .category .category-posts {
  padding: 0 30px;
}
/* line 172, ../scss/custom.scss */
.sidebar .category .category-posts h5 {
  margin-top: 0;
}
/* line 177, ../scss/custom.scss */
.sidebar .category .category-posts a {
  color: black;
}
/* line 182, ../scss/custom.scss */
.sidebar .category .category-posts a:hover {
  color: #38a5dd;
}

/* ---------------------------- */
/* ---     LANDING PAGE     --- */
/* ---------------------------- */
/* line 195, ../scss/custom.scss */
#home {
  background: #deccb4 url(../images/success-bg.png) no-repeat 80% 20%;
  padding: 80px 0 0 0;
}
/* line 200, ../scss/custom.scss */
#home .text {
  max-width: 300px;
  margin: 0 0 100px 100px;
}
/* line 205, ../scss/custom.scss */
#home .text h1, #home .text p {
  margin-bottom: 40px;
}
/* line 210, ../scss/custom.scss */
#home .text h1 {
  text-transform: uppercase;
  font-size: 30px;
  color: #e25736;
  font-weight: bold;
}
/* line 218, ../scss/custom.scss */
#home .text p {
  font-size: 17px;
  color: black;
}
/* line 224, ../scss/custom.scss */
#home .text button {
  padding: 20px 40px;
  border: none;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  border-radius: 5px;
  -moz-border-radius: 5px;
}
/* line 235, ../scss/custom.scss */
#home #search-section {
  text-align: center;
  background-color: #5fb7b7;
}
/* line 240, ../scss/custom.scss */
#home #search-section form {
  padding: 40px;
  color: white;
}
/* line 245, ../scss/custom.scss */
#home #search-section form input {
  background: none;
  padding: 5px 0 5px 60px;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  width: 60%;
  min-width: 300px;
  max-width: none;
  margin: 0 auto;
  font-size: 17px;
}
/* line 16, ../scss/custom.scss */
#home #search-section form input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: white;
}
/* line 19, ../scss/custom.scss */
#home #search-section form input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: white;
  opacity: 1;
}
/* line 23, ../scss/custom.scss */
#home #search-section form input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: white;
  opacity: 1;
}
/* line 27, ../scss/custom.scss */
#home #search-section form input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: white;
}

/* ---------------------------- */
/* ---     CATEGORY PAGE    --- */
/* ---------------------------- */
/* line 269, ../scss/custom.scss */
.archive .page-title {
  padding: 120px 0 120px 100px;
  text-transform: uppercase;
  font-size: 30px;
  background-color: #38a5dd;
  color: white;
}
/* line 278, ../scss/custom.scss */
.archive .entry-title {
  color: black;
  text-transform: uppercase;
  font-size: 26px;
}
/* line 284, ../scss/custom.scss */
.archive .entry-title a {
  color: black;
}
/* line 290, ../scss/custom.scss */
.archive .hentry {
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  -moz-border-radius: 0;
  padding: 40px 0 40px 100px;
}
/* line 298, ../scss/custom.scss */
.archive .hentry header {
  border-bottom: none;
}
