/* Colors */
$light-blue: rgb(56,165,221);
$light-brown: rgb(222,204,180);
$light-gray: rgb(230,230,230);
$lighter-gray: rgb(242,242,242);
$medium-blue: rgb(63,85,175);
$medium-dark-gray: rgb(88,88,91);
$orange: rgb(248,159,49);
$red-orange: rgb(226,87,54);
$teal: rgb(95,183,183);

@mixin border_radius($radius) {

    border-radius: $radius;
    -moz-border-radius: $radius; 
}

@mixin placeholder_color($color){
  &::-webkit-input-placeholder { /* WebKit browsers */
      color:    $color;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color:    $color;
      opacity:  1;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color:    $color;
      opacity:  1;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
      color:    $color;
  }
}

/* Clearfix */
.group:after {
  content: "";
  display: table;
  clear: both;
}

.hidden {

    visibility: hidden;
}

.inline-block {

  &>div, &>h1, &>h2, &>h3, &>h4, &>h5, &>img, &>a, &>p, &>input, &>button {

    display: inline-block;
  }
}

.text-right {

    text-align: right;
}

.text-center {

    text-align: center;
}

.max-960 {

    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.medium-blue-background {

    background-color: $medium-blue;
}

.medium-dark-gray-border {

    border: 1px solid $medium-dark-gray;
}

.orange-background {

    background-color: $orange;
}

.red-orange-background {

    background-color: $red-orange;
}

.red-orange-border {

  border: 1px solid $red-orange;
}


.white {

    color: white;
}

body {

    background-color: $light-gray;
    font-family: 'Roboto', Arial, sans-serif;
}

#content {

    margin-top: 0;
}

.wrap {

    width: 100%;
}

#home, #main {

    width: 81%;
}

#main {

    padding-right: 0;
}

/* --------------------------- */
/* ---    HEADER STYLES    --- */
/* --------------------------- */

.header {

    background-color: white;

    .brand {

        width: 19%;
        float: left;
        background-color: $lighter-gray;
    }

    .main-header {

        width: 81%;
        float: right;
        padding: 30px 0 30px 60px;

        form, button {

            display: inline-block;
            @include border_radius(5px);
        }

        #header-search {

            width: 50%;
            min-width: 300px;
            margin-right: 50px;
            display: inline-block;

            form {

                width: 100%;

                input {

                    @include placeholder_color(black);
                    margin-bottom: 0;
                    max-width: 90%;
                    border: 1px solid black;
                    padding-left: 50px;
                    background: url(../images/search_icon_black.png) no-repeat 2%;
                }
            }
        }

        

        button {

            padding: 10px 30px;
            width: 150px;
            background: none;
            text-transform: uppercase;
            margin-right: 10px;

        }
    }

    
}


/* ---------------------------- */
/* ---    SIDEBAR STYLES    --- */
/* ---------------------------- */

.sidebar {

    margin-top: 0;
    height: 100%;
    width: 19%;

    .category {

        border-bottom: 1px solid black;

        a {

            text-decoration: none;
        }

        h4 {

            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            color: black;
            margin: 0;
            padding: 40px 30px;
        }

        .category-posts {

            display: none;
            padding: 0 30px;

            a {

                color: black;
            }

            a:hover {

                color: $light-blue;
            }
        }
    }
}


/* ---------------------------- */
/* ---     LANDING PAGE     --- */
/* ---------------------------- */

#home {

    background: $light-brown url(../images/success-bg.png) no-repeat 80% 20%;
    padding: 80px 0 0 0;

    .text {

        max-width: 300px;
        margin: 0 0 100px 100px;

        h1, p {

            margin-bottom: 40px;
        }

        h1 {

            text-transform: uppercase;
            font-size: 30px;
            color: $red-orange;
            font-weight: bold;
        }

        p {

            font-size: 17px;
            color: black;
        }

        button {

            padding: 20px 40px;
            border: none;
            text-transform: uppercase;
            font-size: 17px;
            font-weight: bold;
            @include border_radius(5px);
        }
    }

    #search-section {

        text-align: center;
        background-color: $teal;

        form {

            padding: 40px;
            color: white;

            input {

                background: url(../images/search_icon_white.png) no-repeat 2%;
                padding: 5px 0 5px 60px;
                border: 1px solid white;
                color: white;
                @include placeholder_color(white);
                @include border_radius(5px);
                width: 60%;
                min-width: 300px;
                max-width: none;
                margin: 0 auto;
                font-size: 17px;
            }
        }
    }
}

/* ---------------------------- */
/* ---     CATEGORY PAGE    --- */
/* ---------------------------- */

.archive {

    .page-title {

        padding: 120px 0 120px 100px;
        text-transform: uppercase;
        font-size: 30px;
        background-color: $light-blue;
        color: white;
    }

    .entry-title {

        color: black;
        text-transform: uppercase;
        font-size: 26px;

        a {

            color: black;
        }
    }

    .hentry {

        margin-bottom: 0;
        border: none;
        border-radius: 0;
        -moz-border-radius: 0;
        padding: 40px 0 40px 100px;

        header {

            border-bottom: none;
            padding-top: 0;

            a {

                padding-top: 1.5em;
                display: inline-block;
            }
        }
    }
}



/* ---------------------------- */
/* ---    FOOTER STYLES     --- */
/* ---------------------------- */

.footer {

    background-color: white;
    color: black;
    position: relative;

    a {

        color: black;
        text-decoration: none;
        display: inline-block;

        &:hover {

            color: $light-blue;
        }
    }

    #footer-left {

        background-color: $lighter-gray;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 19%;

        .content {

            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            p {

                margin-top: 0;
            }
        }
    }

    #footer-right {

        width: 81%;
        float: right;

        div.max-960 {

            a {

                font-weight: 300;
                margin: 30px 6%;
                text-transform: uppercase;
            }
        }

        div.half {

            width: 50%;
            float: left;
            padding: 20px 100px;

            p {

                margin-bottom: 0;
                margin-top: 0;
            }

            a, a:hover {

                color: white;
            }        
        }
    }
}