/* Colors */
$light-blue: rgb(56,165,221);
$light-brown: rgb(222,204,180);
$light-gray: rgb(230,230,230);
$lighter-gray: rgb(242,242,242);
$medium-blue: rgb(63,85,175);
$medium-dark-gray: rgb(88,88,91);
$medium-gray: rgb(120,120,120);
$medium-light-gray: rgb(188,188,188);
$orange: rgb(248,159,49);
$red-orange: rgb(226,87,54);
$teal: rgb(95,183,183);

.light-blue-background {

  background-color: $light-blue;
}

@mixin border_radius($radius) {

    border-radius: $radius;
    -moz-border-radius: $radius; 
}

@mixin placeholder_color($color){
  &::-webkit-input-placeholder { /* WebKit browsers */
      color:    $color;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color:    $color;
      opacity:  1;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color:    $color;
      opacity:  1;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
      color:    $color;
  }
}

input {

  @include placeholder_color(inherit);
  padding: 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* Clearfix */
.group:after {
  content: "";
  display: table;
  clear: both;
}

.hidden {

    visibility: hidden;
}

.relative {

    position: relative;
}

.absolute {

    position: absolute;
}

.left {

    float: left;
}

.right {

    float: right;
}

.inline-block {

  &>div, &>h1, &>h2, &>h3, &>h4, &>h5, &>img, &>a, &>p, &>input, &>button {

    display: inline-block;
  }
}

.text-right {

    text-align: right;
}

.text-center {

    text-align: center;
}

.uppercase {

    text-transform: uppercase;
}

.max-960 {

    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.medium-blue-background {

    background-color: $medium-blue;
}

.medium-dark-gray-border {

    border: 1px solid $medium-dark-gray;
}

.orange-background {

    background-color: $orange;
}

.red-orange-background {

    background-color: $red-orange;
}

.red-orange-border {

  border: 1px solid $red-orange;
}


.white {

    color: white;
}

body {

    background-color: $light-gray;
    font-weight: 300;
}

html, body, h1, h2, h3, h4, h5, p, a, input, button {

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: inherit;
}

h4 {

    font-weight: 400;
}

img {

    max-width: 100%;
}

#content {

    margin-top: 0;
}

.wrap {

    width: 100%;
}

#home, #main {

    width: 100%;
}

#main {

    padding-right: 0;
}

.entry-content {

    p {

        font-size: 19px;
        font-weight: 300;
        line-height: 38px;
    }
}

.brand, .sidebar {

    position: absolute;
    left: -300px;
}

/* --------------------------- */
/* ---    HEADER STYLES    --- */
/* --------------------------- */

.header {

    background-color: white;

    .brand {

        width: 19%;
        float: left;
        background-color: $lighter-gray;
        min-height: 103px;
    }

    .main-header {

        width: 100%;
        float: right;
        padding: 15px;

        form, button {

            @include border_radius(5px);
        }

        form {

            display: block;

            input {

                box-sizing: border-box;
                -moz-box-sizing: border-box;
            }
        }

        button {

            display: none;
        }

        #mobile-menu {

            padding-bottom: 15px;

            .container {

               max-width: 85%;
               margin-left: auto;
               margin-right: auto; 

               .right {

                   img {

                       padding-right: 30px;

                       &:last-child {

                           padding-right: 0;
                       }
                   }
               }
            }
        }

        #header-search {

            width: 100%;
            min-width: 300px;
            margin-left: auto;
            margin-right: auto;
            display: inline-block;

            form {

                width: 100%;

                input {

                    @include placeholder_color(black);
                    margin-bottom: 0;
                    max-width: 85%;
                    margin-left: auto;
                    margin-right: auto;
                    border: 1px solid black;
                    padding-left: 50px;
                    background: url(../images/search_icon_black.png) no-repeat 2%;
                }
            }
        }

        

        button {

            padding: 10px 30px;
            width: 150px;
            background: none;
            text-transform: uppercase;
            margin-right: 10px;

        }
    }

    
}


/* ---------------------------- */
/* ---    SIDEBAR STYLES    --- */
/* ---------------------------- */

.sidebar {

    margin-top: 0;
    height: 100%;
    width: 19%;

    .category {

        border-bottom: 1px solid $medium-light-gray;

        a {

            text-decoration: none;
        }

        h4 {

            text-decoration: none;
            text-transform: uppercase;
            font-weight: 400;
            color: black;
            margin: 0;
            padding: 40px 15px;
        }

        .category-posts {

            display: none;
            padding: 0 30px;

            a {

                color: black;
            }

            a:hover {

                color: $light-blue;
            }
        }
    }
}


/* ---------------------------- */
/* ---     LANDING PAGE     --- */
/* ---------------------------- */

#home {

    background: $light-brown url(../images/success-bg.png) no-repeat 80% 20%;
    padding: 80px 0 0 0;

    .text {

        max-width: 300px;
        margin: 0 0 100px 100px;

        h1, p {

            margin-bottom: 40px;
        }

        h1 {

            text-transform: uppercase;
            font-size: 30px;
            color: $red-orange;
            font-weight: 500;
        }

        p {

            font-size: 17px;
            color: black;
        }

        button {

            padding: 20px 40px;
            border: none;
            text-transform: uppercase;
            font-size: 17px;
            font-weight: bold;
            @include border_radius(5px);
        }
    }

    #search-section {

        text-align: center;
        background-color: $teal;

        form {

            padding: 40px;
            color: white;

            input {

                background: url(../images/search_icon_white.png) no-repeat 2%;
                padding: 5px 0 5px 60px;
                border: 1px solid white;
                color: white;
                @include placeholder_color(white);
                @include border_radius(5px);
                width: 60%;
                min-width: 300px;
                max-width: none;
                margin: 0 auto;
                font-size: 17px;
            }
        }
    }
}

/* ---------------------------- */
/* ---     CATEGORY PAGE    --- */
/* ---------------------------- */

.page-title, .archive-title {

    padding: 120px 0 120px 100px;
    text-transform: uppercase;
    font-size: 30px;
    background-color: $light-blue;
    color: white;
    margin: 0;
}

.entry-title {

    color: black;
    text-transform: uppercase;
    font-size: 26px;

    a {

        color: black;
    }
}

.hentry {

    margin-bottom: 0;
    border: none;
    border-radius: 0;
    -moz-border-radius: 0;
    padding: 40px 0 40px 100px;

    header {

        border-bottom: none;
        padding-top: 0;

        a {

            padding-top: 1.5em;
            display: inline-block;
        }
    }

    a, a:hover {

        color: $light-blue;
    }
}



/* ---------------------------- */
/* ---    FOOTER STYLES     --- */
/* ---------------------------- */

.footer {

    background-color: white;
    color: black;
    position: relative;

    a {

        color: black;
        text-decoration: none;
        display: inline-block;

        &:hover {

            color: $light-blue;
        }
    }

    #footer-left {

        display: none;
    }

    #footer-right {

        width: 100%;
        float: right;
        padding-top: 20px;

        div.max-960 {

            a {

                font-weight: 300;
                margin: 30px 6%;
                text-transform: uppercase;
            }
        }

        div.half {

            width: 50%;
            float: left;
            padding: 20px 100px;

            p {

                margin-bottom: 0;
                margin-top: 0;
            }

            a, a:hover {

                color: white;
            }        
        }
    }
}

#login-overlay {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/login_bg.png) no-repeat center;
    text-align: center;
    z-index: 999;
    display: none;

    #login-modal {

        max-width: 550px;
        background-color: white;
        margin: 2% auto;
        padding-bottom: 30px;
        @include border_radius(10px);

        #login-close {

            top: 5px;
            right: 5px;
            cursor: pointer;
        }

        #login-title {

            border-bottom: 1px solid $medium-gray;
        }

        form {

            padding: 0 3%;
            max-width: 400px;
            margin: 0 auto;

            input {

                background: none;
                border: 1px solid $light-gray;
                @include border_radius(0);
                @include placeholder_color(black);
                padding: 20px;
                letter-spacing: 0;
            }

            input, button {

                margin: 30px auto 10px;
                width: 100%;
                font-size: 14px;
                line-height: 14px;
                font-family: 'Roboto', sans-serif;
                height: auto;
            }

            button {

                margin: 10px auto;
                @include border_radius(10px);
                padding: 20px 0;
                border: none;
            }
        }
    }
}




/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ------------------------    DESKTOP STYLES     ------------------------ */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */

@media only screen and (min-width: 992px) {

    #home, #main {

        width: 81%;
    }

    .brand, .sidebar {

        position: static;
    }

    .header {

        .main-header {

            padding: 30px 0 30px 60px;
            width: 81%;

            button {

                display: inline-block;
            }

            #mobile-menu {

                display: none;
            }

            #header-search {

                margin-right: 30px;
                width: 50%;
            }
        }

        
    }

    .footer {

        #footer-left {

            display: block;
            background-color: $lighter-gray;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 19%;

            .content {

                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;

                p {

                    margin-top: 0;
                }

                a:hover {

                    color: inherit;
                }
            }
        }

        #footer-right {

            width: 81%;
        }
    }
}

@media only screen and (min-width: 1280px ) {

    .sidebar {

        .category {

            h4 {

                padding: 30px 40px;
            }
        }
    }
}
