/* Colors */
/* Clearfix */
.group:after {
  content: "";
  display: table;
  clear: both; }

.hidden {
  visibility: hidden; }

.inline-block > div, .inline-block > h1, .inline-block > h2, .inline-block > h3, .inline-block > h4, .inline-block > h5, .inline-block > img, .inline-block > a, .inline-block > p, .inline-block > input, .inline-block > button {
  display: inline-block; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.max-960 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }

.medium-blue-background {
  background-color: #3f55af; }

.medium-dark-gray-border {
  border: 1px solid #58585b; }

.orange-background {
  background-color: #f89f31; }

.red-orange-background {
  background-color: #e25736; }

.red-orange-border {
  border: 1px solid #e25736; }

.white {
  color: white; }

body {
  background-color: #e6e6e6;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
  min-width: 1100px; }

h4 {
  font-weight: 400; }

img {
  max-width: 100%; }

#content {
  margin-top: 0; }

.wrap {
  width: 100%; }

#home, #main {
  width: 81%; }

#main {
  padding-right: 0; }

.entry-content p {
  font-size: 19px;
  font-weight: 300;
  line-height: 38px; }

/* --------------------------- */
/* ---    HEADER STYLES    --- */
/* --------------------------- */
.header {
  background-color: white; }
  .header .brand {
    width: 19%;
    float: left;
    background-color: #f2f2f2;
    min-height: 103px; }
  .header .main-header {
    width: 81%;
    float: right;
    padding: 30px 0 30px 60px; }
    .header .main-header form, .header .main-header button {
      display: inline-block;
      border-radius: 5px;
      -moz-border-radius: 5px; }
    .header .main-header #header-search {
      width: 50%;
      min-width: 300px;
      margin-right: 50px;
      display: inline-block; }
      .header .main-header #header-search form {
        width: 100%; }
        .header .main-header #header-search form input {
          margin-bottom: 0;
          max-width: 90%;
          border: 1px solid black;
          padding-left: 50px;
          background: url(../images/search_icon_black.png) no-repeat 2%; }
          .header .main-header #header-search form input::-webkit-input-placeholder {
            /* WebKit browsers */
            color: black; }
          .header .main-header #header-search form input:-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: black;
            opacity: 1; }
          .header .main-header #header-search form input::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: black;
            opacity: 1; }
          .header .main-header #header-search form input:-ms-input-placeholder {
            /* Internet Explorer 10+ */
            color: black; }
    .header .main-header button {
      padding: 10px 30px;
      width: 150px;
      background: none;
      text-transform: uppercase;
      margin-right: 10px; }

/* ---------------------------- */
/* ---    SIDEBAR STYLES    --- */
/* ---------------------------- */
.sidebar {
  margin-top: 0;
  height: 100%;
  width: 19%; }
  .sidebar .category {
    border-bottom: 1px solid black; }
    .sidebar .category a {
      text-decoration: none; }
    .sidebar .category h4 {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 400;
      color: black;
      margin: 0;
      padding: 40px 30px; }
    .sidebar .category .category-posts {
      display: none;
      padding: 0 30px; }
      .sidebar .category .category-posts a {
        color: black; }
      .sidebar .category .category-posts a:hover {
        color: #38a5dd; }

/* ---------------------------- */
/* ---     LANDING PAGE     --- */
/* ---------------------------- */
#home {
  background: #deccb4 url(../images/success-bg.png) no-repeat 80% 20%;
  padding: 80px 0 0 0; }
  #home .text {
    max-width: 300px;
    margin: 0 0 100px 100px; }
    #home .text h1, #home .text p {
      margin-bottom: 40px; }
    #home .text h1 {
      text-transform: uppercase;
      font-size: 30px;
      color: #e25736;
      font-weight: 500; }
    #home .text p {
      font-size: 17px;
      color: black; }
    #home .text button {
      padding: 20px 40px;
      border: none;
      text-transform: uppercase;
      font-size: 17px;
      font-weight: bold;
      border-radius: 5px;
      -moz-border-radius: 5px; }
  #home #search-section {
    text-align: center;
    background-color: #5fb7b7; }
    #home #search-section form {
      padding: 40px;
      color: white; }
      #home #search-section form input {
        background: url(../images/search_icon_white.png) no-repeat 2%;
        padding: 5px 0 5px 60px;
        border: 1px solid white;
        color: white;
        border-radius: 5px;
        -moz-border-radius: 5px;
        width: 60%;
        min-width: 300px;
        max-width: none;
        margin: 0 auto;
        font-size: 17px; }
        #home #search-section form input::-webkit-input-placeholder {
          /* WebKit browsers */
          color: white; }
        #home #search-section form input:-moz-placeholder {
          /* Mozilla Firefox 4 to 18 */
          color: white;
          opacity: 1; }
        #home #search-section form input::-moz-placeholder {
          /* Mozilla Firefox 19+ */
          color: white;
          opacity: 1; }
        #home #search-section form input:-ms-input-placeholder {
          /* Internet Explorer 10+ */
          color: white; }

/* ---------------------------- */
/* ---     CATEGORY PAGE    --- */
/* ---------------------------- */
.page-title, .archive-title {
  padding: 120px 0 120px 100px;
  text-transform: uppercase;
  font-size: 30px;
  background-color: #38a5dd;
  color: white;
  margin: 0; }

.entry-title {
  color: black;
  text-transform: uppercase;
  font-size: 26px; }
  .entry-title a {
    color: black; }

.hentry {
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  -moz-border-radius: 0;
  padding: 40px 0 40px 100px; }
  .hentry header {
    border-bottom: none;
    padding-top: 0; }
    .hentry header a {
      padding-top: 1.5em;
      display: inline-block; }
  .hentry a, .hentry a:hover {
    color: #38a5dd; }

/* ---------------------------- */
/* ---    FOOTER STYLES     --- */
/* ---------------------------- */
.footer {
  background-color: white;
  color: black;
  position: relative; }
  .footer a {
    color: black;
    text-decoration: none;
    display: inline-block; }
    .footer a:hover {
      color: #38a5dd; }
  .footer #footer-left {
    background-color: #f2f2f2;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 19%; }
    .footer #footer-left .content {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0; }
      .footer #footer-left .content p {
        margin-top: 0; }
  .footer #footer-right {
    width: 81%;
    float: right;
    padding-top: 20px; }
    .footer #footer-right div.max-960 a {
      font-weight: 300;
      margin: 30px 6%;
      text-transform: uppercase; }
    .footer #footer-right div.half {
      width: 50%;
      float: left;
      padding: 20px 100px; }
      .footer #footer-right div.half p {
        margin-bottom: 0;
        margin-top: 0; }
      .footer #footer-right div.half a, .footer #footer-right div.half a:hover {
        color: white; }

/*# sourceMappingURL=custom.css.map */
